.claude
.ai
hub/glass/markdown/*.bk
**/*.backup
CLAUDE.md
.vscode
.env
.bin
shared/*
garden/dnd/dm-manager/assets/data/5etools/*
!garden/dnd/dm-manager/assets/data/5etools/5e-SRD-classes.json
assets/shards/
services/
