.claude
.ai
glass/markdown/*.bk
hub/glass/markdown/*.bk
**/*.backup
CLAUDE.md
.vscode
.env
.bin
shared/*
playground/dndm/assets/data/5etools/*
playground/dndm/assets/data/5etools/5e-SRD-classes.json
hub/playground/dndm/assets/data/5etools/*
hub/playground/dndm/assets/data/5etools/5e-SRD-classes.json
services/nano-gpt-models/formatter
shards/